In [1]:
import numpy as np 
import pandas as pd  
import csv


file_path="PyBank_Resources_budget_data.csv"
ds = pd.read_csv (file_path)
print (ds)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [2]:
ds.describe()
ds["change"] = ds["Profit/Losses"].shift(1)
ds

        Date  Profit/Losses    change
0   Jan-2010         867884       NaN
1   Feb-2010         984655  867884.0
2   Mar-2010         322013  984655.0
3   Apr-2010         -69417  322013.0
4   May-2010         310503  -69417.0
..       ...            ...       ...
81  Oct-2016         102685  768450.0
82  Nov-2016         795914  102685.0
83  Dec-2016          60988  795914.0
84  Jan-2017         138230   60988.0
85  Feb-2017         671099  138230.0

[86 rows x 3 columns]

In [3]:
months = len(ds["Date"])

In [4]:

print (f"There are a total of: {months} months")

There are a total of: 86 months

In [5]:
ds["Difference"] = ds["Profit/Losses"] - ds["change"]
ds

        Date  Profit/Losses    change  Difference
0   Jan-2010         867884       NaN         NaN
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[86 rows x 4 columns]

In [6]:
total = sum(ds["Profit/Losses"])
print (f"Your total profit/losses is: {total}")

Your total profit/losses is: 38382578

In [7]:
min_value = ds["Profit/Losses"].min()

In [8]:
max_value = ds["Profit/Losses"].max()
print (max_value)

1170593

In [9]:
min_date= ds.min()[0]
max_date = ds.max()[0]
average_change = ds["Difference"].mean()
print(average_change)

-2315.1176470588234

In [10]:
average = round(average_change, 2)

In [11]:
with open("Pybank.txt", "w+") as text_file:
    print(f"   Financial Analysis    ", file = text_file)
    print('---------------------------', file = text_file)
    print(f"Total Months:{months}", file=text_file)
    print(f"Total: ${total}",file=text_file)
    print(f"Average  Change: ${average}",file=text_file)
    print(f"Greatest Increase in Profits: {max_date} ${max_value}", file=text_file)
    print(f"Greatest Decrease in Profits: {min_date} ${min_value}",file=text_file)

48